<div class="container mt-3">
    <h2 class="text-center display-5">Accedi</h2>
    <div class="row justify-content-center">
        <div class="col-6">
            <div>
                <form #form="ngForm" (ngSubmit)="submit()">
                    <div ngModelGroup="userInfo" id="userInfo" #userGroup="ngModelGroup"> 
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" [ngModel]="userForm.username" name="username" class="form-control" required #username="ngModel">
                            <p *ngIf="username.invalid && username.touched"><strong>Questo campo è obbligatorio</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" [ngModel]="userForm.password" name="password" class="form-control" required #password="ngModel">
                        </div>
                            <p *ngIf="password.invalid && password.touched" class="mb-1"><strong>Questo campo è obbligatorio</strong></p>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-outline-dark mt-3"[disabled]="form.invalid">Login</button>
                                <button type="button" class="btn btn-outline-dark mt-3" [routerLink]="['/Register']" routerLinkActive="active">Sign up</button>
                           </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
